<section class="content">
  <p-card class="h-10rem"  styleClass="card-calculadora" header="Calculadora">
    <div class="row">
        <p-button label="Submit"></p-button>

        <p-button label="Submit"></p-button>

        <p-button label="Submit"></p-button>
    </div>
    <div class="row">
      <p-button label="Submit"></p-button>

      <p-button label="Submit"></p-button>

      <p-button label="Submit"></p-button>
    </div>
    <div class="row">
      <p-button label="Submit"></p-button>

      <p-button label="Submit"></p-button>

      <p-button label="Submit"></p-button>
    </div>
  </p-card>
</section>
